@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicionar padding-top ao corpo para compensar o header fixo */

.from-gray-900 {
  --tw-gradient-from: var(--color-gray-900) var(--tw-gradient-from-position);
  --tw-gradient-to: var(--color-gray-900-transparent) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-gray-800 {
  --tw-gradient-to: var(--color-gray-800) var(--tw-gradient-to-position);
}

.bg-gradient-to-br {
  background-image: var(--color-background);
}

body {
  padding-top: var(--pd-xlm); /* Ajuste conforme a altura real do header */
  font-family: var(--font-family-primary) !important;
  width: fit-content;
  background-color: var(--color-background);
  color: var(--color-text-primary) !important;
}
