.page-header-text {
  padding: var(--pd-lg) 0;
  text-align: left;
  color: var(--color-text-primary);
}

.page-header-text h1 {
  margin: 0;
  font-size: var(--font-size-large);
  color: var(--color-text-primary);
}

.page-header-icon {
  object-fit: cover;
  color: var(--color-icon);
}