/* ------SelectWrapper Styles------ */

.select-wrapper {
  position: relative;
}

.dark-select {
  background-color: var(--color-select-background);
  border: 1px solid var(--color-select-border);
  color: var(--color-select-text);
  padding: 8px 24px 8px 16px;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  cursor: pointer;
  display: flow-root;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark-select .icon {
  position: absolute;
  right: 16px; /* Posiciona a seta 8px antes do final */
  top: 30%; /* Centraliza verticalmente */
  pointer-events: none; /* Garante que a seta não interfira no clique do botão */
}

.dark-select:hover {
  background-color: var(--color-select-hover-background);
  border: 1px solid var(--color-select-hover-border);
}

.dark-select:focus {
  background-color: var(--color-select-hover-background);
  border: 1px solid var(--color-select-hover-border);
}

.dropdown {
  position: relative;
  width: 100%;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px; /* Espaçamento abaixo */
  width: 100%;
  background-color: var(--color-select-background);
  border: 1px solid var(--color-select-border);
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.option-item {
  padding: 8px 12px;
  color: var(--color-select-text);
  cursor: pointer;
  white-space: nowrap; /* Impede a quebra de linha */
  overflow: hidden; /* Esconde o texto que ultrapassa o limite */
  text-overflow: ellipsis; /* Adiciona "..." ao final do texto truncado */
}

.option-item:hover {
  background-color: var(--color-select-hover-background);
  box-sizing: border-box;
  padding: 8px 12px 7px;
  border-bottom: 1px solid var(--color-select-hover-border);
}

.select-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select-label {
  color: #fff;
  font-size: 0.875rem;
}

.select-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: var(--color-select-background);
  color: var(--color-select-text);
  border: 1px solid var(--color-select-border);
  outline: none;
}

.select-input:focus {
  border-color: var(--color-select-hover-border);
}

.select-input option {
  background-color: var(--color-select-background);
  color: var(--color-select-text);
}
