/* Estilos para o InputField */
.envoltorio-campo-input {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--color-input-field-border);
  border-radius: 4px;
  padding-left: 1rem;
  transition: border-color 0.3s;
  background-color: var(--color-input-background);
  height: 100%;
}

.envoltorio-campo-input:focus {
  border: 1px solid var(--color-input-field-border-focus);
}

.envoltorio-campo-input:hover {
  border: 1px solid var(--color-input-field-border-focus);
}

.icone-campo-input {
  margin-right: 0.5rem;
  color: var(--color-input-field-icon);
  margin-top: 12px;
}

.campo-input-container {
  display: flex;
  flex: 1;
  min-width: 0;
  height: 100%;
}

.campo-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px 8px 8px 0;
  font-size: 1rem;
  color: var(--color-text-primary);
  border-radius: 4px;
  background-color: var(--color-input-background);
  font-family: "Roboto", sans-serif;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea.campo-input {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  resize: none;
  min-height: 40px;
  height: 100%;
}

.campo-input::placeholder {
  color: var(--color-input-field-placeholder);
  font-size: 1rem;
  font-weight: 300;
}

.inner-label {
  color: var(--color-text-muted);
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  padding: 8px 8px 8px 0;
}

/* --------------------------- */

.input-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input-field label {
  font-size: 14px;
  color: var(--color-text-gray-300);
}

.input-field input,
.input-field textarea {
  background-color: var(--color-input-background);
  border: 1px solid var(--color-input-border);
  border-radius: 8px;
  padding: 8px 12px;
  color: var(--color-text-primary);
  width: 100%;
  min-height: 38px;
  transition: all 0.2s ease;
}

.input-field input:focus,
.input-field textarea:focus {
  outline: none;
  border-color: var(--color-input-border-focus);
  box-shadow: 0 0 0 2px var(--color-input-shadow-focus);
}

.input-field.multiline textarea {
  resize: none;
  height: 100%;
  min-height: 76px;
}
