/* Estilos para o InputField */
.envoltorio-campo-input {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-input-field-border);
  border-radius: 4px;
  padding-left: 1rem;
  transition: border-color 0.3s;
  background-color: var(--color-input-background);
}

.envoltorio-campo-input:focus {
  border: 1px solid var(--color-input-field-border-focus);
}

.envoltorio-campo-input:hover {
  border: 1px solid var(--color-input-field-border-focus);
}

.icone-campo-input {
  margin-right: 0.5rem;
  color: var(--color-input-field-icon);
}

.campo-input {
  height: 24px;
  flex: 1;
  border: none;
  outline: none;
  padding: 2px;
  font-size: 1rem;
  color: var(--color-text-primary);
  border-radius: 4px;
  background-color: var(--color-input-background);
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
}

.campo-input::placeholder {
  color: var(--color-input-field-placeholder);
  font-size: 0.875rem;
  font-weight: 300;
}

.campo-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.inner-label {
  color: var(--color-text-primary);
  font-size: 0.875rem;
  font-weight: 500;
  white-space: nowrap;
}

.campo-input-container .campo-input {
  height: 24px;
  flex: 1;
  border: none;
  outline: none;
  padding: 2px;
  font-size: 0.875rem;
  color: var(--color-text-primary);
  border-radius: 4px;
  background-color: var(--color-input-background);
  font-family: "Roboto", sans-serif;
}

/* --------------------------- */
