.logo {
  max-height: var(--logo-height);
  width: auto;
  display: flex;
  align-items: center;
  color: var(--color-text-tertiary);
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
