[user]
	name = willy3087
	email = william.duarte@muralis.com.br
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /Users/williamduarte/Documents/Empresa/Projeto/cmex_poc/frontend/actions-runner/_work/cmex_poc/cmex_poc
