/* Estilos específicos da home */
.min-h-screen {
  min-height: 100vh;
}

.max-w-4xl {
  max-width: 56rem;
  margin: 0 auto;
}

.bg-gray-800\/50 {
  background-color: rgba(31, 41, 55, 0.5);
}

.backdrop-blur-sm {
  backdrop-filter: blur(4px);
}

.text-white {
  color: white;
}

.text-gray-500 {
  color: var(--color-text-gray-500);
}

.box-conteiner-dados {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--color-text-primary);
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--color-atributos-item-border);
  background-color: var(--color-atributos-item-background);
  display: flow-root;
  gap: 16px;
}

.box-conteiner-search {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  color: var(--color-text-primary);
  border-width: 1px;
  border-color: var(--color-border-search);
  background-color: var(--color-background-search);
  display: flow-root;
  gap: 16px;
}

.shadow-input {
  --tw-shadow: 0 40px 50px 5px rgba(0, 0, 0, 0.4),
    0 4px 6px -4px rgb(0 0 0 / 0.5);
  --tw-shadow-colored: 0 50px 25px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 2 #0000),
    var(--tw-ring-shadow, 0 2 #0000), var(--tw-shadow);
  border-radius: 100%;
}
