/* Estilos específicos do Button */
.button {
  display: inline-flex;
  padding: var(--pd-sm) var(--pd-md);
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-weight: var(--font-weight-medium);
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
}

.button.primary {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
}

.button.primary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}

.button.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}

.button.secondary:hover:not(:disabled) {
  background-color: var(--color-secondary-hover);
}

.button.danger {
  background-color: var(--color-danger);
  color: var(--color-text-primary);
}

.button.danger:hover:not(:disabled) {
  background-color: var(--color-danger-hover);
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.button .icon {
  margin-right: var(--mg-sm);
  font-size: var(--font-size-large);
}

.button.loading {
  position: relative;
  color: transparent;
}

.loading-spinner {
  position: absolute;
  width: var(--sp-lg);
  height: var(--sp-lg);
  border: var(--sp-ssm) solid var(--color-text-primary-30);
  border-radius: 50%;
  border-top-color: var(--color-text-primary);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
