header {
  display: flex;
  position: fixed;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--pd-xlm);
  z-index: 50;
  align-items: center;
  justify-content: space-between;
  padding: var(--pd-ssm) var(--pd-lg);
  border-bottom: 1px solid var(--color-border);
}

.section-header {
  display: flex;
  align-items: center;
  gap: var(--sp-md);
}

.user-name {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-text-primary);
}

.bg-header {
  --tw-bg-opacity: 1;
  background-color: var(--color-background-dark);
  border-color: var(--color-border);
}

.shadow-header {
  --tw-shadow: 0 10px 15px -3px var(--color-shadow),
    0 4px 6px -4px var(--color-shadow);
  --tw-shadow-colored: 0 10px 25px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Classes para ícones no modo dark e light */
.icon-ai {
  color: var(--border-color-primary);
  font-weight: 100;
}

.icon-light {
  color: var(--color-primary);
}

/* Responsividade */
@media (max-width: 720px) {
  header {
    padding: var(--pd-ssm) var(--pd-md);
  }

  .section-header:last-child {
    display: none;
  }

  .section-header:first-child {
    display: flex;
    align-items: center;
    gap: var(--sp-md);
  }
}

/* Versão intermediária */
@media (min-width: 721px) and (max-width: 1280px) {
  header {
    padding: var(--pd-ssm) var(--pd-lg);
  }

  .section-header:first-child {
    display: flex;
    align-items: center;
    gap: var(--sp-md);
  }
}

/* Desktop */
@media (min-width: 1281px) {
  header {
    transition: left 0.3s ease-in-out;
  }

  body.sidebar-open header {
    left: 320px;
  }
}
